% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
    
    <div class="container" class="cat-containers">
        <div class="jumbotron">
        <div class = "row">
            <div class="col-md-10"> 
                <h1 class="jumbo-header">Business Pitches</h1>
            </div>
            <div class="col-md-2">
            <a class="btn btn-danger btn-md text-center"  href="{{url_for('main.new_pitch')}}"> Add a Pitch </a>
            </div>    
        </div>
        </div>
            <hr> 
            {% if pitchBusiness %}
                {% for business in pitchBusiness %}
                <div class="col-xs-12 col-sm-6">
                    <div class="thumbnail">
                        <div class="caption">
                                <div class="card-body" style="height:10em">
                                    <p>{{business.pitch}}</p>
                                    <p class="card-subtitle mb-2 text-muted"> Posted On:{{business.posted}} </p>
                                    <p class="card-subtitle mb-2 text-muted">Author:{{business.user.username}} </p>
                                    <a class="btn btn-warning btn-sm text-center" href="/pitch/new/comment/{{business.id}}"> View Comments </a>
                                </div>
                            </div>
                        </div>