{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}

<!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a class="ratings" href=""> Write a new Pitch</a>
    
    </div> -->
    
    <div class="container">
        <div class = "row">
            <h1>All Pitches</h1>
            <hr>
            {% if pitches %}
                {{macro.displayPitches(pitches)}}
            {% else %}
                <h3 class ="text-center" style="font-size:200%"> No Pitches Posted yet </h3>
                <a class="btn btn-success btn-lg text-center"  href="{{url_for('main.new_pitch')}}">Write a new Pitch</a>
            {%endif%}
        </div>
    </div>

{% endblock %